.pf-usr {
  font-size: 0.9rem;
  font-weight: normal;
  color: rgb(102, 102, 102);
}
.flw-bx {
  padding-left: 0 0.5rem;
  transition: transform 1s ease-in-out;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
.flw-bx:hover {
  border-bottom: 3px solid var(--BRAND_BLUE);
}
.pf-cls {
  position: relative;
}
.ed-modal {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
