.nav-sec {
    display: flex;
    flex-direction: column  ;
}
.nav-bar-div
{
    display: flex;
    justify-content: space-around;
}
.nav-bar {
    background-color: var(--SIDE_BAR_COLOR);
    height: 10vh;
    width: 100%;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-div-icon {
    color: rgb(121, 118, 118);
    width: 35px;
    height: 35px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    font-size: 22px;

}
.icon-active{
    color:aqua;
    background-color: rgb(16, 16, 97);
}
