.App {
  position: relative;
  height: 100vh;
}
.app-grd {
  max-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
}

.main-clus {
  height: 100vh;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.main-clus::-webkit-scrollbar {
  width: 0.3rem;
}

.main-clus::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(73, 100, 223, 0.3);
}

.main-clus::-webkit-scrollbar-thumb {
  background-color: var(--BRAND_BLUE);
  outline: none;
  border-radius: 1rem;
}
@media only screen and (max-width: 600px) {
  .app-grd {
    display: inline;
    overflow: scroll;
  }
  .app-grd .chl-fs,
  .chl-thr {
    display: none;
  }
}
